/* src/Components/Navbar.css */
nav {
    background-color: #4d75aa;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
